<template>
  <div>
    <h1>ログイン画面</h1>

    <form @submit.prevent="onSubmit">
      <div>
        <label>ユーザーID</label>
        <input v-model="uid" type="text" name="uid">
      </div>

      <div>
        <label>パスワード</label>
        <input v-model="password" type="password" name="password">
      </div>

      <ul v-if="errors.length > 0" class="error-messages">
        <li v-for="err in errors">
          {{ err }}
        </li>
      </ul>

      <button type="submit" :disabled="submitting">ログインする</button>
    </form>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        uid: '',
        password: '',
        submitting: false,
        errors: [],
      }
    },
    methods: {
      async onSubmit() {
        this.errors = [];

        if (!this.validate()) {
          return
        }

        await this.login();
      },
      validate() {
        if (this.uid.length === 0) {
          this.errors.push('ユーザーIDを入力してください。');
        }
        if (this.password.length === 0) {
          this.errors.push('パスワードを入力してください。');
        }
        return this.errors.length === 0;
      },
      async login() {
        this.submitting = true;
        try {
          const response = await this.$axios.post('api/session', {
            session: {
              uid: this.uid,
              password: this.password,
            }
          });

          console.log('Login success.', response.data.user);

          this.$router.push({name: 'mypage'})
        } catch (e) {
          this.errors = e.response.data.errors;
        } finally {
          this.submitting = false;
        }
      }
    }
  }
</script>

<style scoped>
  .error-messages {
    color: red;
  }
</style>
