<template>
  <div>
    <h1>マイページ</h1>

    <p v-if="user">
      ようこそ {{ user.name }} さん！
    </p>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        user: null,
      };
    },
    async created() {
      this.user = await this.getCurrentUser();
    },
    methods: {
      async getCurrentUser() {
        const response = await this.$axios.get('api/users/me');
        return response.data.user;
      }
    }
  }
</script>
