<!DOCTYPE html>
<html>
  <head>
    <title>RailsSystemTestWithVue</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'entry', media: 'all' %>
    <%= javascript_pack_tag 'entry' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
